/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400..700;1,400..700&family=Hind:wght@300;400;500;600;700&display=swap');

/* GENERAL STYLES */

body {
  background-color: #CDCDCD;
  font-family: 'Hind', sans-serif;
}
section,
footer {
  border: 2px solid #6D7F86;
  border-radius: 5px;
}

/* HEADER */

header {
  display: flex;
  flex-direction: row;
}

img {
  width: auto;
  height: 18vw;
}

h1 {
  font-family: 'Expletus Sans', sans-serif;
  margin: 0 0 0 0.25em;
  border-bottom: 2px solid #6D7F86;
}

header p {
  margin-top: 0.5em;
  text-align: center;
}

/* FIRST SECTION */

#code-buttons {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
}

#code {
  width: 60%;
  display: flex;
  flex-direction: column;
}

h2 {
  padding: 0 0.5em 0 0.5em;
  margin: 0.5em 0 0 0;
  font-size: 28px;
  color: #333333;
  text-align: center;
  font-weight: lighter;
}

#code div {
  margin: 0 1em 1em 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#code span {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: #6D7F86;
}

#buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1em 0 1em;
}

#buttons button {
  padding: 0.5em 1em 0.5em 1em;
  margin: 0.25em;
  background-color: #b5bfc3;
  border: 1px solid #6D7F86;
  border-radius: 5px;
  font-family: 'Hind', sans-serif;
  font-size: 14px;
}

/* RULES MODAL */

/* Media query for small devices (767px and down) as per W3 Schools Typical Device Breakpoints */
@media only screen and (max-width: 767px) {

  h1 {
    font-size: 8vw;
  }
  aside {
    display: none;
  }
}

/* Media query for medium devices (768px and up) as per W3 Schools Typical Device Breakpoints */
@media only screen and (min-width: 768px) {

  body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #b5bfc3;
  }

  main {
    width: 50vw;
    background-color: #CDCDCD;
    padding: 2em;
    height: 92vh;
  }

  footer {
    display: none;
  }

  img {
    width: auto;
    height: 5em;
   
  }

}

/* Media query for large devices (992px and up) as per W3 Schools Typical Device Breakpoints */
@media only screen and (min-width: 992px) {

  main {
    width: 384px;
  }
}